{% extends "index.html" %}
<h1>LMAODED</h1>
{% block content %}
    <div class="main">
        <h1>DarkSight    <span style="color:#3d5afe;"></span></h1>
        <p style="color: rgb(128, 128, 128);"> 
            Find leaked breaches on the Dark Web
        </p>
        <form action="/" method="POST">
        <input type="text" name="content" id="content" class="input" placeholder="Message"></textarea>
        <div class="buttons">
        <button class="button" type="sumbit">Submit</button>
        </div>
    </form>
    {% if response|length < 1%}
    <h4>No leaked Credentials, Hurray!</h4>
    {% else %}
    <h4>Leaked Credentials</h4>
    <table style="margin: 1px solid black; padding: 8px">
        <tr>
            <th style="border: 1px solid black; padding: 8px">Name</th>
            <th style="border: 1px solid black; padding: 8px">Email</th>
            <th style="border: 1px solid black; padding: 8px">Phone No</th>
            <th style="border: 1px solid black; padding: 8px">Address</th>
            <th style="border: 1px solid black; padding: 8px">BreachedCompany</th>

        </tr>
        
            <tr>
                <td style="border: 1px solid black; padding: 8px">{{ response[0] }}</td>
                <td style="border: 1px solid black; padding: 8px">{{ response[1] }}</td>
                <td style="border: 1px solid black; padding: 8px">{{ response[2] }}</td>
                <td style="border: 1px solid black; padding: 8px">{{ response[3] }}</td>
                <td style="border: 1px solid black; padding: 8px">{{ response[4] }}</td>

            </tr>
    
    </table>
    {% endif %}
    <footer style="text-align: center;">
        
    </footer>
    </div>
    <div class="output">
{% endblock %}

<!-- 

<div class="content">
    <h1>Leaked Passwords</h1>
    {% if response|length < 1%}
    <h4>There are no tasks... create one below</h4>
    {% else %}
    <table>
        <tr>
            <th>Leaked Pass</th>
        </tr>
        {% for passwd in response %}
            <tr>
                <td>{{ passwd }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/mail-pass" method="POST">
        <input type=""text" name="content" id="content" />
        <input type="submit" value="Submit" id="add_btn" />
    </form>
</div>
</body>
-->

